.home {
  height: 120vh;
  width: 100vw;
  background: url(../images/ocean.webp);
  background-size: 100vw 100%;
  overflow: hidden;
  margin-top: 145px;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.home-l1 {
  letter-spacing: 5px;
  font-size: 49px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: white;
  margin: 120px 0px 40px 250px;
}
.home-l2 {
  font-size: larger;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  margin-left: 250px;
}
.explore-btn {
  padding: 15px 60px;
  border-radius: 30px;
  margin: 30px 0px 0px 250px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background-color: #71b3f2;
  border: none;
}
.globe {
  position: absolute;
  top: 200px;
  left: 420px;
}
.globe img {
  height: 480px;
}
@media only screen and (max-width: 850px) {
  .home {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-l1,
  .home-l2,
  .explore-btn {
    margin: 20px 0px;
  }

  .globe {
    top: 35vh;
    left: -5vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .globe img{
    height: 50%;
    width: 100%;
  }

}
@media only screen and (max-width: 500px) {
  .home-l1 {
    font-size: 30px;
    text-align: center;
  }
  .home-l2 {
    font-size: medium;
    text-align: center;
  }
  .explore-btn {
    padding: 5px 30px;
  }
}
